
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


nav{
    background-color: rgb(120, 219, 198);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

header h1{
    color:black;
    font-size: 2rem;
    letter-spacing: .7rem;
    
}
#titulo {
    font-family: 'Merienda', cursive;
}

nav ul{
    display: flex;
    
}

nav ul li{
    border-right: solid .1rem rgba(61, 61, 61, 0.41);
}



nav ul li a {
    color: black;
    font-size: 1.2rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
}

nav ul li a:hover{
    background-color:#38755a;
    transition: all .3s;
    border-radius: 15px;
}

.drawer{
    color: #ffffff;
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid .1rem #ffffff;
    padding: .2rem;
    border-radius: .1rem;
}

#ckbox{
    display: none;
}


main{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: proyecto;
}




main img{
    height: 70vh;
}

footer{
    background-color: rgb(120, 219, 198);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    text-transform: uppercase;
    font-weight: bold;
}

@media(max-width:1020px){

    nav{
        justify-content: flex-start;
    }

    .drawer{
        display: block;
    }

    nav h1{
        margin-left: 1rem;
    }
    main .social-content i {
        display: center;
      }

    ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: #35495e;
        top: 10vh;
        left: -100%;
        text-align: left;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    nav ul li{
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        border-bottom: solid .1rem rgba(201, 196, 196, 0.4) ;
    }

    #ckbox:checked ~ .menu-box{
        left: 0;
    }

    .image{
        display: flex;
    }


}
















































































































































































































































