*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: myfont;
    src: 
        url('../fonts/CustomCraft-Regular.otf') format('opentype'), 
        url('../fonts/CustomCraft-Regular.ttf') format('truetype'), 
        url('../fonts/CustomCraft-Regular.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}

header {
  width: 100%;
}

.showcase{
    padding: 130px;
    background-image: url("../images/imag3.png");
    background-color:rgb(120, 219, 198);
    background-blend-mode: soft-light;
    background-position: center;
    box-sizing: border-box;
}
.social-content{
    padding: 10px;
    border: none;
    box-shadow: none;
    
    text-decoration: none;
    font-size: 20px;
}
.social-content {
    font-size: 1.6em;
    color:black;
  }





article p{
    text-align: center;
}

footer{
    background-color: rgb(120, 219, 198);
    color: black;
    text-align: center;
    
}

footer h3,p{
    padding: 20px;

}

@media only screen and (min-width: 610px){ 
    .col-t-1{width: 8.33%;}
    .col-t-2{width: 16.66%;}
    .col-t-3{width: 25%;}
    .col-t-4{width: 33.33%;}
    .col-t-5{width: 41.66%;}
    .col-t-6{width: 50%;}
    .col-t-7{width: 58.33%;}
    .col-t-8{width: 66.66%;}
    .col-t-9{width: 75%;}
    .col-t-10{width: 83.33%;}
    .col-t-11{width: 91.66%;}
    .col-t-12{width: 100%;}


}
@media only screen and (min-width: 760px){ 
    /* ESCRITORIO */
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
    

    nav li{
        float: left;
    }

}
.row::after{
    content: "";
    clear: both;
    display: table;
}